$backgroundColor: #ebebe3;
$headerColor: #2b2b28;
$gray: #4a4a48;
$pink: #c19898;
$white: #fff;

pre{
    font-size: 15px;
    margin: 30px;
    padding: 10px;
    background: lighten($backgroundColor, 10);
}