@use '../../App.scss';
$backgroundColor: #ebebe3;
$headerColor: #2b2b28;

header {
    // background: darken($backgroundColor, 75);
    background: $headerColor;
    border-bottom: 1px solid #eee;
    color: lighten($backgroundColor, 8);
    padding: 0;
    padding-left: 15px;
    margin: 0 0 30px 0;
    text-align: left;
}