@use '../../App.scss';
$headerColor: #131313;

header {
    // background: darken($backgroundColor, 75);
    background: $headerColor;
    border-bottom: 1px solid #eee;
    color: lighten(#ebebe3, 8);
    padding: 0;
    padding-left: 15px;
    margin: 0 0 30px 0;
    text-align: left;
}