@use '../../App.scss';
$backgroundColor: #161616;
$headerColor: #131313;
$darkPink: #7a4949;
$blue: #395e64;
$white: #fff;

footer {
    // background: darken($backgroundColor, 50);
    background: $headerColor;
    color: $white;
    border-top: 1px solid #eee;
    padding: 1em 3em;
    margin: 0;
    text-align: center;
  }